{% if product %}
  <div class="rockit-coupons-wrapper" 
    style="display: none;" 
    data-product-id="{{ product.id }}" 
    data-tags="{{ product.tags | join: ',' | escape }}"
    data-vendor="{{ product.vendor | escape }}"
    data-shop-domain="{{ shop.domain }}">
  </div>
  <script src="{{ 'coupon.js' | asset_url }}" defer="defer"></script>
  {{ 'coupon.css' | asset_url | stylesheet_tag }}
{% endif %}

{% schema %}
{
  "name": "Loom - Offer & Sales",
  "target": "section",
  "settings": []
}
{% endschema %}
